body{
    font-family:Arial, Helvetica, sans-serif ;
}
#unique{
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    align-items: center;
    margin-top: 12px;
    row-gap: 12px;
    column-gap: 12px;
}
#input, #date{
    font-size: 13px;
    padding: 11px 6px;
}
.del{
    background-color: rgb(84, 4, 104);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 0px;
    cursor: pointer;
}
.todo{
    background-color: rgb(11, 146, 106);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 0px;
    cursor: pointer;  
}